{{define "slider"}}
<div class="container-fluid">
	<div class="container mt-3">
		<div class="slider-cont-wrapper">
			<div id="wrapper">
				<div class="slider-wrapper theme-default">
					<div id="slider" class="nivoSlider">
						{{ range.Slides }}
						<a href="/article/{{.Id}}">
							<img src="{{.Image}}" data-thumb="{{.Image}}" alt="" />
						</a>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{ end }}
