{{define "backend-footer"}}
<footer class="footer">
  <div><a href="/">DevNotes</a> &copy;
    <script>
      var y = new Date().getFullYear()
      document.write(y)
    </script>
    All right reserved.
  </div>
  <div class="ms-auto">Developed by&nbsp;<a href="https://mehedi.onrender.com/" target="_blank">Mehedi Hassan Emon</a>
  </div>
</footer>
{{end}}